In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 

import os

In [22]:
data = pd.read_csv('./data/2011-ghg-emissions.csv',encoding= 'unicode_escape')

In [23]:
co2_df = data[['City','State','Zip Code', "Year","Total CO2e"]]

In [24]:
co2_df

                 City State Zip Code  Year Total CO2e
0     Manhattan Beach    CA    90266  2011          0
1               Trona    CA    93562  2011    785,978
2               Keyes    CA    95328  2011     54,101
3          McKittrick    CA    93251  2011    262,094
4            San Ardo    CA    93450  2011    153,304
..                ...   ...      ...   ...        ...
623   N. Palm Springs    CA    92258  2011     23,598
624         San Diego    CA    92154  2011     19,796
625       Bakersfield    CA    93307  2011     25,527
626  City of Industry    CA    91748  2011     12,600
627         Yuba City    CA    95993  2011     61,480

[628 rows x 5 columns]

In [25]:
cities = co2_df['City'].unique().tolist()

In [27]:
len(cities)

296